<footer>
    <p class="text-center text-muted">© Copyright 2021 Todo Application</p>
</footer>    


<style>
    footer {
        position: absolute;
        bottom: 0;
        width: 100%;
        color:#fff;
}

</style>
</body>
</html>