<!DOCTYPE html>
<html lang="en">
	<%- include('../partials/head'); %>

	<nav class="navbar navbar-expand-lg navbar-light">
		<a class="navbar-brand" href="/">Todo Application</a>
		<div class="collapse navbar-collapse" id="navbarSupportedContent">

			<ul class="navbar-nav mr-auto">
				<%if (user) { %>

				<li class="nav-item">
					<a class="nav-link" href="/todos">Todos </a>
				</li>
				<li class="nav-item">
					<a class="nav-link" href="/completed">Completed </a>
				</li>
				<% } %>
			</ul>




			<ul class="navbar-nav inline my-2 my-lg-0">
				<%if (!user) { %>
					<li class="nav-item">
						<a class="nav-link" href="/login">Sign in</span></a>
					</li>
					<li class="nav-item">
						<a class="nav-link" href="/register">Sign up</a>
					</li>
				<% } %>

				<%if (user) { %>
					<li class="nav-item">
						<a class="nav-link" href="/logout">Logout</span></a>
					</li>
				<% } %>

			</ul>
		</div>

	</nav>

	<body>
	
