/* .todoscontainer {
    text-align: center;
    align-items: center;
    margin-top: 2%;
    margin-bottom: 2%;
    background-color: #6c7ae0;


} */

.modal-buttons {
    margin-top: 10px;
    text-align: right;
}

